.wrapper{
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container{
	max-width: $maxWidth+px;
	margin: 0 auto;
	padding: 0px 10px;
}


.content{
	flex: 1 1 auto;
	background-color: #fafafc;
}

.btn{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;

	padding: 0px 33px 0 35px;

	font-size: 14px;
	font-weight: 600;
	&-w{
		border: 2px solid #fff;
		height: 38px;
		background-color: #fff;
		border-radius: 10px;
		color: #233148;
		transition: all .3s ease 0s;
		&:hover{
			background-color: rgba(255,255,255,0);
			color: #fff;
		}
	}
	&-alpha{
		height: 40px;
		border-radius: 10px;
		color: #fff;
		border: 2px solid #fff;
		margin: 10px 0px 0px 0px;
		transition: all 0.3s ease 0s;
		&:hover{
			background-color: #fff;
			color: #000;

		}
	}
	&-b{
		height: 49px;
		background-color: #33d2fd;
		border: 2px solid #33d2fd;
		border-radius: 5px;
		margin: 15px 0px 0px 0px;
		color: #fff;
		transition: all 0.3s ease 0s;
		&:hover{
			background-color: #fff;
			color: #33d2fd;
		}
	}
}